body,html {
  background-color: #282c34;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

.App-logo {
  height: 20vmin;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.frame, .image{
  width: 400px;
  height: 400px;
  border: 1px wheat solid;
  ;
}